@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&family=Satisfy&display=swap");

:root {
  /* COLOR */
  --primary-color: #aaa186;
  --secondary-color: #1a1a1c;
  --title-color: #0d1118;
  --description-color: #232429;
  --white-color: #ffffff;
  --border-color: #e4e5e7;
  --body-color: #f3f5fa;
  /* TYPOGRAPHY */
  --body-font: "Playfair Display", serif;
  --ex-font: "Satisfy", cursive;
  --desc-font: "Inter", sans-serif;
  /* Font Size */
  --h1-font-size: 66px;
  --h2-font-size: 36px;
  --h3-font-size: 24px;
  --h4-font-size: 20px;
  --normal-font-size: 16px;
  --small-font-size: 14px;
  /* Font Weight */
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
}

/*========== BASE ==========*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide default scrollbar */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  padding: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-color) transparent;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--title-color);
  background: var(--body-color);
}

h1,
h2,
h3,
h4,
ul,
p,
a {
  margin: 0;
}

h1 {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  font-weight: 600;
}

h2 {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: 600;
}

h3 {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  font-weight: 600;
}

p {
  font-size: var(--normal-font-size);
  color: var(--description-color);
  line-height: 1.6;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none !important;
  color: var(--title-color);
}

img {
  max-width: 100%;
  height: auto;
}

.mt-5 {
  margin-top: 50px !important;
}

.mt-4 {
  margin-top: 40px !important;
}

.mt-3 {
  margin-top: 30px !important;
}

.mt-2 {
  margin-top: 20px !important;
}

.mb-5 {
  margin-bottom: 50px !important;
}

.mb-4 {
  margin-bottom: 40px !important;
}

.mb-3 {
  margin-bottom: 30px !important;
}

.mb-2 {
  margin-bottom: 20px !important;
}

section {
  padding: 4.5rem 0;
}

.section_title {
  text-align: center;
  max-width: 950px;
  margin: auto;
}

.section_title p {
  font-family: "Satisfy", cursive;
}

.icons {
  font-size: 24px;
}

.container {
  max-width: 1350px;
  margin: auto;
}

.btn {
  padding: 10px 24px;
  border-radius: 4px;
  background: var(--primary-color);
  border: 1px solid transparent;
  color: var(--white-color);
}

.btn_sec {
  padding: 10px 24px;
  border-radius: 4px;
  background: transparent;
  border: 1px solid var(--white-color);
  color: var(--white-color);
}

.btn:hover {
  background: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.btn_sec:hover {
  background: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.btn_area {
  display: flex;
  align-items: center;
  gap: 20px;
}

/*================ Common Css ================*/
.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background: var(--white-color);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px;
  background: var(--white-color);
  color: var(--title-color);
  min-width: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
}

.grid_4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/*================ HomePage Css ================*/
.banner {
  width: 100%;
  height: 80vh;
  background-image: url("./Components/assets/homeBanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner_text {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner_text h1 {
  margin-bottom: 30px;
  color: var(--white-color);
}

.about_paintConnect .grid_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.about_paintConnect .text_content {
  max-width: 660px;
  padding: 0 50px;
}

.about_paintConnect .text_content.left_text_content {
  max-width: 660px;
  margin-left: auto;
  padding-left: 0;
  padding-right: 50px;
}

.about_paintConnect .text_content .ex-font {
  font-size: 22px;
}

.about_paintConnect .video-player-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.about_paintConnect .video-player-container .play-pause-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  border: 5px solid #ffffff98;
  border-radius: 100px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.play-pause-overlay.visible {
  opacity: 1 !important;
}

.about_paintConnect .video-player-container .play-pause-overlay .icons {
  color: var(--white-color);
  font-size: 20px;
}

.discover_clients .text_content {
  text-align: center;
  width: 80%;
  margin: auto;
}

.discover_clients .text_content h2,
.discover_clients .text_content p {
  color: var(--white-color);
}

.service .card {
  border: 1px solid #ececec;
  background: #f8f8f8;
  text-align: center;
  padding: 20px;
}

.service .card-body {
  margin-top: 20px;
}

.service .card .service_img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin: auto;
}

.art_collection .content_area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.art_collection .swiper-slide {
  width: 240px;
  height: 430px;
  overflow: hidden;
  cursor: pointer;
  transition: width 0.3s ease;
  position: relative;
  align-items: flex-start;
  justify-content: left;
}

.art_collection .swiper-slide:hover {
  width: 550px;
  background: #000;
}

.art_collection .swiper-slide img {
  position: absolute;
  left: 0;
  top: 0;
  width: 240px;
  height: 430px;
  z-index: -1;
}

.art_collection .swiper-slide:hover img {
  width: 550px !important;
  object-fit: cover;
}

.art_collection .content_area .text_content {
  /* display: none; */
  width: 240px;
  height: 430px;
  padding: 30px;
  background: #0000003b;
}

.art_collection .content_area .text_content {
  display: none;
  width: 240px;
  height: 430px;
  padding: 30px;
  padding-top: 50px;
  background: #0000003b;
  opacity: 0;
}

.art_collection .swiper-slide:hover .text_content {
  display: block;
  width: 550px;
  opacity: 1;
}

.art_collection .content_area .text_content h2,
.art_collection .content_area .text_content p {
  color: var(--white-color);
  transition: all 0.5s ease-in;
}

/*================ Services Page Css ================*/
.service_banner {
  width: 100vw;
  height: 500px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("./Components/assets/service_banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service_banner .banner_text h1 {
  color: var(--white-color);
  font-size: var(--h1-font-size);
}

.discover {
  background: #25282e;
}

.section_title h2 {
  color: var(--white-color);
}

.section_title p {
  color: var(--primary-color);
}

.section_title p.des {
  color: var(--white-color);
  font-family: var(--desc-font);
}

.discover_magazines h2,
.discover_magazines p {
  color: var(--white-color);
}

.discover_magazines p {
  margin-top: 30px;
}

.discover_img_row {
  margin-top: 50px;
}

.ex-font {
  font-family: var(--ex-font);
  color: var(--primary-color);
}

.advertise {
  width: 100%;
  height: 100%;
  background-image: url("./Components/assets/AdvertisBg.png");
  object-fit: cover;
}

.advertise h2,
.advertise p {
  color: var(--white-color);
  text-align: center;
}

.artists_list {
  margin-top: 50px;
}

.join_us {
  max-width: 750px;
}

.join_us h2 {
  color: var(--white-color);
  margin-bottom: 20px;
}

.join_us p {
  color: var(--white-color);
}

.slider_content {
  position: relative;
}

.slider_content .social_link {
  position: absolute;
  left: 30px;
  bottom: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.slider_content .social_link .icons {
  color: var(--white-color);
  font-size: 20px;
}

.services_img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.right_text {
  margin-left: 30px;
}

.left_text {
  margin-right: 30px;
}

.testimonials {
  background: #25282e;
}

.testimonials .ts_list {
  width: 1050px;
}

.testimonials .user {
  margin-top: 36px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.testimonials .user img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100px;
}

.testimonials .ts_list h3,
.testimonials .ts_list p {
  color: var(--white-color);
}

.faq .card {
  padding: 30px;
  background: #25282e;
  border-radius: 12px;
}

.faq .card img {
  border-radius: 12px;
  margin-bottom: 30px;
  height: 275px;
  object-fit: cover;
}

.faq .card .text_area h3,
.faq .card .text_area p {
  color: var(--white-color);
}

.faq .card .text_area p {
  margin-top: 20px;
}

.faq .faq-container .question {
  margin-top: 20px;
  padding: 10px 16px;
  background: #ececec;
  border-radius: 8px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.faq .faq-container .answer {
  margin-top: 10px;
  padding: 10px 12px;
  font-size: 18px;
}

.blog .section_title h2 {
  color: var(--title-color);
}

.blog .card {
  background: transparent;
  border: none;
  overflow: hidden;
}

.blog .card img {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.blog .card .blog_img {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.blog .card:hover .blog_img img {
  scale: 1.2;
  transition: all 0.5s ease-in-out;
}

.blog .card .card_text {
  width: calc(100% - 30px);
  padding: 30px 20px;
  margin-top: -30%;
  background: var(--white-color);
  z-index: 1;
}

.blog .card .card_text .date {
  font-family: var(--ex-font);
  font-size: var(--h4-font-size);
  color: var(--primary-color);
  margin-bottom: 20px;
}

.blog .card .card_text p {
  margin: 20px 0;
}

.blog .card .card_text a {
  font-size: var(--h4-font-size);
  color: var(--title-color);
  text-decoration: underline !important;
}

.blog .card:hover .card_text a {
  color: var(--primary-color) !important;
}

.sp_service {
  background: #25282e;
}

.sp_service img {
  width: 100%;
  height: 470px;
  object-fit: cover;
}

.sp_service h2 {
  color: var(--primary-color);
}
.sp_service p {
  color: var(--white-color);
}

/*=========================== 
Responsive Css 
===========================*/

@media (max-width: 991px) {
  .reverse {
    flex-direction: column-reverse !important;
    margin-top: 30px;
  }

  .right_text {
    margin-top: 30px;
    margin-left: 0;
  }

  .left_text {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .reverse .left_text {
    margin-top: 30px;
    margin-right: 0;
  }

  .service_banner .banner_text h1 {
    font-size: 7vw;
  }

  .about_paintConnect .grid_2 {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .about_paintConnect .grid_2.reverse {
    flex-direction: column-reverse;
  }

  .about_paintConnect .grid_2.reverse .grid_item:last-child {
    order: -1;
  }
  .about_paintConnect .text_content.left_text_content,
  .about_paintConnect .text_content {
    max-width: 100%;
    padding: 0 20px !important;
  }

  .discover_clients .text_content {
    width: 100%;
  }

  .service .row,
  .blog .row {
    row-gap: 25px;
  }
}

@media (max-width: 768px) {
  .grid_4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid_4 img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .artists_list.grid_4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 678px) {
  .grid_4 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid_4 img {
    width: 100%;
    height: 100%;
  }

  .service_banner .banner_text h1 {
    font-size: 36px;
  }
}
